<!-- <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Click to filter columns </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="expansion-panel-container">
    <button mat-raised-button color="primary" (click)="resetDisplayedColumns()">
      Reset
    </button>
    <div class="mb-1"></div>
    <ng-container *ngFor="let column of columnsDefinition$ | async">
      <mat-slide-toggle
        [checked]="column.isDisplayed"
        [name]="column.columnDef"
        (change)="changeColumnDisplay($event)"
      >
        {{ column.header }}
      </mat-slide-toggle>
    </ng-container>
  </div>
</mat-expansion-panel> -->

<button
  mat-mini-fab
  aria-label="Filter columns"
  [matMenuTriggerFor]="menu"
  color="primary"
>
  <mat-icon class="material-icons-outlined"> filter_alt </mat-icon>
  <!-- <mat-icon fontSet="fa" fontIcon="alarm"></mat-icon> -->
</button>
<!-- <button mat-button [matMenuTriggerFor]="menu">Filter Columns</button> -->
<mat-menu #menu="matMenu" [class]="'column-filter-menu'">
  <div class="mat-menu-container" (click)="$event.stopPropagation()">
    <section>
      <span class="list-section">
        <mat-checkbox
          class="margin"
          [checked]="isAllChecked()"
          color="primary"
          [indeterminate]="isSomeChecked()"
          (change)="checkAll($event.checked)"
        >
          Select All
        </mat-checkbox>
      </span>
      <span class="list-section">
        <ul>
          <li *ngFor="let column of columnsDefinition">
            <mat-checkbox
              [(ngModel)]="column.isDisplayed"
              color="primary"
              [ngModelOptions]="{ standalone: true }"
              (change)="updateColumnDisplay($event)"
              [name]="column.columnDef"
            >
              {{ column.header }}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </section>
    <mat-divider></mat-divider>
    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        (click)="hideAllDisplayedColumns()"
      >
        Clear All
      </button>
    </div>
  </div>
</mat-menu>
