<div>
  Displayed Columns:
  <ng-container *ngFor="let item of displayedColumns$ | async">
    {{ item }}
  </ng-container>
</div>

<div>
  All columns:
  <ng-container *ngFor="let item of allColumn$ | async">
    {{ item }}
  </ng-container>
</div>
<div>
  Query Params:
  {{ queryParams$ | async | json }}
</div>
<app-server-column-filter
  [columnsDefinition$]="columnsDefinition$"
  (displayedColumnsChanged)="changeDisplayedColumns($event)"
  (displayedColumnsReset)="resetDisplayedColumns()"
></app-server-column-filter>
<app-server-search
  (filterColumnChanged)="updateColumnFilter($event)"
  (filterValueChanged)="updateSearchValue($event)"
></app-server-search>
<div class="table-container mat-elevation-z8">
  <app-server-table
    [servers]="servers"
    [columnsDefinition$]="columnsDefinition$"
    [displayedColumns$]="displayedColumns$"
  ></app-server-table>

  <app-server-paginator
    [totalCount]="serverCount"
    (pageIndexChanged)="updatePageIndex($event)"
  ></app-server-paginator>
</div>
