<a
  mat-button
  routerLink="/"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
>
  Home
</a>
<a
  *ngIf="userHasAdminAccess$ | async"
  mat-button
  routerLink="/admin"
  routerLinkActive="active"
>
  Admin
</a>
<div class="spacer"></div>
<button mat-button [matMenuTriggerFor]="menu">
  Impersonate
  <mat-icon>expand_more</mat-icon>
</button>
<mat-menu #menu="matMenu" [class]="'user-role-menu'">
  <div class="mat-menu-container" (click)="$event.stopPropagation()">
    <ul>
      <li *ngFor="let role of userRoles$ | async">
        <mat-checkbox
          color="primary"
          (change)="updateUserRole($event)"
          [name]="role.applicationRole"
          [checked]="role.isUserInThisRole"
        >
          {{ role.applicationRole.toString() }}
        </mat-checkbox>
      </li>
    </ul>
  </div>
</mat-menu>
<button
  mat-icon-button
  aria-label="view server change history"
  (click)="changeTheme()"
>
  <mat-icon>{{ isLightTheme() ? "brightness_2" : "wb_sunny" }}</mat-icon>
</button>
