.active {
  background: rgba(0, 0, 0, 0.2);
}

.mat-menu-container {
  padding: 0.5rem;
}

.spacer {
  flex-grow: 1;
}

::ng-deep .user-role-menu .mat-menu-content:not(:empty) {
  padding: 0 !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
}
