<mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Click to filter columns </mat-panel-title>
  </mat-expansion-panel-header>
  <!-- <p>I'm visible because I am open</p> -->
  <div class="expansion-panel-container">
    <button mat-raised-button color="primary" (click)="resetDisplayedColumns()">
      Reset
    </button>
    <div class="mb-1"></div>
    <ng-container *ngFor="let column of columnsDefinition$ | async">
      <mat-slide-toggle
        [checked]="isCheck(column.columnDef)"
        [name]="column.columnDef"
        (change)="determineColumnVisibility($event)"
      >
        {{ column.header }}
      </mat-slide-toggle>
    </ng-container>
  </div>
</mat-expansion-panel>
