<div class="content">
  <p>Home component</p>
  <!-- <div>{{ state$ | async }}</div> -->

  <div class="mb-1"></div>
  <div>
    Displayed Columns:
    <ng-container *ngFor="let item of displayedColumns$ | async">
      {{ item }}
    </ng-container>
  </div>

  <div>
    All columns:
    <ng-container *ngFor="let item of allColumn$ | async">
      {{ item }}
    </ng-container>
  </div>

  <div>Page Index: {{ pageIndex$ | async }}</div>
  <div>Page Size: {{ pageSize$ | async }}</div>

  <app-home-column-filter
    [columnsDefinition$]="columnsDefinition$"
    [displayedColumn$]="displayedColumns$"
    (displayedColumnsChanged)="changeDisplayedColumns($event)"
  >
  </app-home-column-filter>

  <div class="mb-1"></div>
  <!-- <app-home-search-result
  [dataSource$]="allDatabase$"
  [displayedColumns$]="displayedColumns$"
  [columnsDefinition$]="columnsDefinition$"
  >
</app-home-search-result> -->
  <app-home-search></app-home-search>
  <app-home-search-result> </app-home-search-result>

  <!-- <app-home-search-export
    [pdfData$]="data$"
    [searchState$]="searchState$"
  ></app-home-search-export>
  <app-home-column-filter
    [searchState$]="searchState$"
  ></app-home-column-filter>
   <app-home-search-result
    [source$]="data$"
    [searchState$]="searchState$"
  ></app-home-search-result> -->
</div>
