:host {
  display: block;
}
table {
  width: 100%;
}

.button-row {
  display: table-cell;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
}
